

body {
  font-family: $font-family-sans-serif;
}

p {
	font-family: $font-family-libre-baskerville-regular;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-family-libre-baskerville-bold;
}


.admin-bar p.demo_store{
	top: 0;
}

/* Navbar Customizations */

.navbar{
	background: #f9f9f9;
	flex: 1;
	.mobile-nav{
		position: absolute;
		.shiftnav-toggle-button{
   			background: none !important;
   			font-size: 1.5rem;
		}	
	}
	@media only screen and (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
	.container{
		justify-content: center;
    	width: auto;
	}
	.quick-links-container{
		position: absolute;
		right: 20px;
			@media only screen and (max-width: 767px) {
			right: 15px;
		}
	}
	.navbar-collapse{
		width: 225px;
		justify-content: center;
		li{
			border-bottom: 1px solid rgba(000, 000, 000, 0.3);
		}
	}
	.navbar-brand{
		margin: 0 auto;
    	padding: 30px;
    	text-align: center;
    	display: flex;
    	flex-direction: column;
    	@media only screen and (max-width: 767px) {
    		padding: 10px 30px;
    		max-width: 92%;
    	}
		#logo-svg{
			filter: invert(1) sepia(0%) saturate(0%) hue-rotate(0) brightness(100) contrast(100);

		}
		.tagline{
			margin-top: -5px;
			letter-spacing: 4px;
			font-size: 1rem;
			font-family: $font-family-superior-regular !important;
		}
	}
	a{
		color: #000;
		font-family: $font-family-libre-baskerville-regular;
	}
}


.woocommerce-store-notice.demo_store {
	position: relative;
	background: #eee;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
	font-weight: bold;
	font-family: $font-family-sans-serif;
	.woocommerce-store-notice__dismiss-link {
		display: none;
	}
	color: $hennepens-green;
}

.menu-footer-menu-container{
	.menu{
		display: flex;
		list-style: none;
		padding: 0;
		li{
			padding: 0 10px;
			&:first-child{
				padding-left: 0;
			}
		}
	}
}


/* HOME PAGE CUSTOMIZATIONS */

.home{
	.navbar{
		background: none;
		position: absolute;
		z-index: 1;
		width: 100%;
		.navbar-collapse{
			li{
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
		.navbar-brand{
			#logo-svg{
			filter: invert(0) sepia(0%) saturate(0%) hue-rotate(0) brightness(100) contrast(100);

			}
			.tagline{
				color: #fff;
			}
		}
		a{
			color: #fff;
		}
	}
	.xoo-wsc-sc-bki{
		color: #fff;
		margin-left: 15px;
	}
	.woocommerce-store-notice{
		display: none !important;
	}
}

#hero-header .fl-heading{
	font-family: $font-family-superior-regular !important;
	font-size: 6rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    transform: rotate(-5deg);
    @media only screen and (max-width: 767px) {
		font-size: 4rem;
	}
}

#home-page-hero{
	.fl-row-content-wrap{
		min-height: 80vh;
	}
}



/* Footer Edits */

#wrapper-footer{
	background: #e9ecef;
	padding-top: 0;
}
#wrapper-footer-full{
	background: rgb(53,110,62);
	background: linear-gradient(315deg, rgba(53,110,62,1) 0%, rgba(43,142,47,1) 100%);
	padding: 50px 0;
}

#menu-main-footer-menu{
	column-count: 3;
	list-style: none;
	padding: 0;
}

.disclaimer{
	font-size: .7rem;
	text-align: center;
	border: 1px solid #ccc;
	padding: 20px;
}

.site-info ul{
	list-style: none;
	display: flex;
	padding: 0;
	text-align: center;
	li{
		padding-right: 10px;
		&:last-child{
			padding-right: 0;
		}
	}
}


/* Product Categories */

.cat-header{
	width: 100%;
	height: 400px;
	background-size: cover;
}

.tax-product_cat {
	.content-area{
		padding: 0;
	}
	#woocommerce-wrapper .container:first-child {
		max-width: 100%;
		
	}
	.wrapper{
		padding: 0;
	}
}



/* Single Product Template */

.single-product{
	#woocommerce-wrapper{
		padding-top: 50px;
	}
	.purchase-options{
		max-width: 100% !important;
		label{
			&.subscription-container{
				width: auto;
				flex-grow: 1;
				padding: 15px 15px 15px 0;
				display: flex;
				align-items: center;
			}
		}
		li{
			padding: 0 !important;
			display: flex;
			flex-wrap: wrap;
			input{
				margin-left: 15px;
				width: 1.25rem;
				height: 1.25rem;
			}
			&.selected{
				border-radius: 8px;
			}
		}
	}
}

.summary p.price{
	/*display: none;*/
}

.woocommerce-variation-price{
	.price{
		.amount{
			font-size: 1.25rem;
			font-family: $font-family-libre-baskerville-regular;
		}
	}
}

.single_variation_wrap{
	.quantity{

		.qty{
		
		}
	}
	.single_add_to_cart_button{
		padding: 10px 20px;
	    min-width: 200px;
	    font-size: 1.25rem;
	    background: #356e3e;
	    border: 1px solid #356e3e;
	    border-radius: 8px;
	}
}


/* MC Form Edits */


#sign-up-for-hennepens-news-1{
	display: flex;
	margin: 0 auto;
	max-width: 500px;
	label{
		margin-bottom: 0;
	}
	.yikes-easy-mc-email{
		margin-bottom: 0;
	    height: 100%;
	    border-bottom-right-radius: 0;
	    border-top-right-radius: 0;
	    border-top-left-radius: .25rem;
	    border-bottom-left-radius: .25rem;
	    border-right: 0;
	}
	.yikes-easy-mc-submit-button{
		margin-top: 0;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    border: 2px solid rgba(51,51,51,.1);
	    padding: 10px 20px;
	    width: auto;
	}
}

.yikes-mailchimp-form-description{
	margin: 20px 0 10px 0;
}

.woocommerce-checkout {
    .form-row {
        @extend .form-group;
        .woocommerce-input-wrapper {
            width: 100%;
            input,
            select,
            textarea {
                @extend .form-control;
            }
        }
    }
}
.variations{
	tr{
		display: flex;
		flex-direction: column;
	}
	td.value{
		display: flex;
	}
	.label{
		font-weight: bold;
		font-size: large;
	}
}

.wcsatt-options-wrapper{
	
	.wcsatt-options-product{
		margin: 0 0 2em 0;
		padding: 0;
	}
}




.subscription-option{
	display: none;
	&.selected{
		/*display: inherit;*/
	}
	input{
		display: none;
	}
}
.subscription-details{
	display: none;
}

.subscription-price{
	margin: 0;
	padding: 0;
	.one-time-option{
		display: none !important;
	}
	.wcsatt-sub-discount{
		display: none;
	}
	.subscription-option{
		display:none !important;
		min-height: auto !important;
		padding: 0 !important;
		&.selected{
			display: inherit !important;
			background-color: inherit;
			&.one-time-option{
				display: none;
			}
		}
		label{
			float: right;
			width: auto;
		}
	}
}

.choose-label{
	float: left;
	width: auto;
	flex-grow: 1;
	font-weight: bold;
	font-size: 1.15rem;
}

.one-time-price{
	float: right;
    font-size: large;
    line-height: initial;
    font-family: $font-family-libre-baskerville-regular;
}
.one-time-purchase-label{
	flex-grow: 1;
	padding-right: 15px;
	color: #aaa;
}
.subscription-delivery{
	padding: 15px;
	border-top: 2px solid #fff;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	.delivery-every{
		width: auto;
	}
}

.selected{
	.subscription-delivery{
		display: flex;
	}
	.one-time-purchase-label{
		color: inherit;
	}
}

.generatedRadios{
	padding: 15px;
	width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: #ccc;
    &.selected{
    	border-color: #333;
    	color: inherit;
    	background-color: #edebe6;
    }
	label{
		margin: 0;
		display: flex;
		align-items: center;
	}
	input{
		width: 1.25rem;
		height: 1.25rem;
		margin-right: 5px;
	}
}

.woocommerce-variation-price{
	.price{
		display: none;
	}
	.purchase-options{
		.subscription-price{
			display: inherit;
		}
	}	
}

.woocommerce-variation-add-to-cart{
	display: flex;
	justify-content: flex-end;
	position: relative;
	;
	.added_to_cart{
		position: absolute;
		bottom: -34px;
	}
	.qty{
		height: 52px;
		border-radius: 8px;
		border: 2px solid #aaa;
	}
}
.woocommerce span.onsale {
	display: flex;
	line-height: inherit;
	align-items: center;
	justify-content: center;
}

.xoo-wsc-sc-subt{
display: none;
}
.xoo-wsc-sc-count{
	position: absolute;
	right: -10px;
	top: -5px;
}