// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #000;
$hennepens-green: #356e3e;


//
// Custom Fonts
//

@font-face{
  font-family: 'linearicons';
  src:  url('../fonts/linearicons.eot?mlscn1#iefix') format('embedded-opentype'), url('../fonts/linearicons.ttf?mlscn1') format('truetype'), url('../fonts/linearicons.woff?mlscn1') format('woff'), url('../fonts/linearicons.svg?mlscn1#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'superiorbold';
    src: url('../fonts/superior-bold-webfont.woff2') format('woff2'),
         url('../fonts/superior-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'superiorbold_rough';
    src: url('../fonts/superior-boldrough-webfont.woff2') format('woff2'),
         url('../fonts/superior-boldrough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'superiorregular';
    src: url('../fonts/superior-regular-webfont.woff2') format('woff2'),
         url('../fonts/superior-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'superiorrough';
    src: url('../fonts/superior-rough-webfont.woff2') format('woff2'),
         url('../fonts/superior-rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('../fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_nova_altthin';
    src: url('../fonts/proxima_nova_alt_thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'proxima_novathin';
    src: url('../fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$font-family-sans-serif: 'proxima_novaregular';
$font-family-sans-serif-bold: 'proxima_novabold';
$font-family-sans-serif-black: 'proxima_novablack';
$font-family-sans-serif-thin: 'proxima_novathin';
$font-family-sans-serif-alt-thin: 'proxima_nova_altthin';
$font-family-libre-baskerville-regular: 'libre_baskervilleregular';
$font-family-libre-baskerville-italic: 'libre_baskervilleitalic';
$font-family-libre-baskerville-bold: 'libre_baskervillebold';
$font-family-superior-bold: 'superiorbold';
$font-family-superior-regular: 'superiorregular';
$font-family-linear-icons: 'linearicons';

