body {
	font-family: $font-family-sans-serif;
	transition: opacity .25s ease-out;
	opacity: 1;
  	&.fade-out{
  		opacity: 1;
	}
	&.admin-bar{
		opacity: 1;
	}
}

.skip-link{
	display: none;
}

p {
	font-family: $font-family-libre-baskerville-regular;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-family-libre-baskerville-italic;
}

h2{
	font-size: 2.5rem;
}


.admin-bar p.demo_store{
	top: 0;
}

.site{
	overflow: hidden;
}

.btn{
	.btn-outline-primary{
		border-radius: 100px;
	}
}

/* Navbar Customizations */

.navbar{
	background: #f9f9f9;
	flex: 1;
	z-index: 999;
	.mobile-nav{
		position: absolute;
		.shiftnav-toggle-button{
   			background: none !important;
   			font-size: 1.5rem;
		}	
	}
	@media only screen and (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
	.container{
		justify-content: center;
    	width: auto;
	}
	.quick-links-container{
		position: absolute;
		right: 20px;
			@media only screen and (max-width: 767px) {
			right: 15px;
		}
		img{
			max-width: 30px;
			border-radius: 100px;
		}
	}
	.navbar-collapse{
		width: 225px;
		justify-content: center;
		li{
			border-bottom: 1px solid rgba(000, 000, 000, 0.3);
		}
	}
	.navbar-nav{
		align-items: center;
		a{
			&:hover{
				text-decoration: none;
			}
			.icon-user{
				font-size: 1.5rem;
			}
		}
		.xoo-wsc-icon-cart1{
			&:hover{
				color: $hennepens-green;
			}
		}
	}
	.navbar-brand{
		margin: 0 auto;
    	padding: 30px;
    	text-align: center;
    	display: flex;
    	flex-direction: column;
    	@media only screen and (max-width: 767px) {
    		padding: 10px 30px;
    		max-width: 92%;
    	}
		#logo-svg{
			transition: all .25s ease-out;
			max-height: 60px;
			filter: invert(1) sepia(0%) saturate(0%) hue-rotate(0) brightness(100) contrast(100);

		}
	}
	a{
		color: #000;
		font-family: $font-family-libre-baskerville-regular;
		&:hover{
			color: $hennepens-green;

		}
	}
}
#navbarNavDropdown{
	@media only screen and (max-width: 767px) {
			display: none;
		}
}

.woocommerce-store-notice.demo_store {
	position: relative;
	background: #eee;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
	font-weight: bold;
	font-family: $font-family-sans-serif;
	.woocommerce-store-notice__dismiss-link {
		display: none;
	}
	color: $hennepens-green;
}


.menu-footer-menu-contact-container{
	.menu{
		padding: 0;
		list-style: none;
		li{
			padding: 0 10px;
		}
		@media only screen and (max-width: 767px) {
			text-align: center;
			display: none;
		}
	}
	@media only screen and (max-width: 767px) {
		display: none;
	}
}

.xoo-wsc-sc-bki{
	margin-left: 15px;
}

/* Footer Edits */

#wrapper-footer{
	background-color: #e9ecef;
	padding-top: 0;
	background-image: url('../images/newsletter-bg-2.jpg');
	border-top: 10px solid #000;
}
#wrapper-footer-full{
	padding: 50px 0;
	background: none;
}

#menu-main-footer-menu{
	column-count: 2;
	list-style: none;
	padding: 0;
	@media only screen and (max-width: 767px) {
		column-count: 1;
		text-align: center;
	}
}

.disclaimer{
	font-size: .7rem;
	text-align: center;
	border: 1px solid #ccc;
	padding: 20px;
}

.site-info ul{
	list-style: none;
	display: flex;
	padding: 0;
	text-align: center;
	li{
		padding-right: 10px;
		&:last-child{
			padding-right: 0;
		}
	}
}

.social-cc{
	i{
		font-size: 2rem;
	}
}


/* MC Form Edits */


#sign-up-for-hennepens-news-1{
	display: flex;
	margin: 0 auto;
	max-width: 500px;
	label{
		margin-bottom: 0;
	}
	.yikes-easy-mc-email{
		margin-bottom: 0;
	    height: 100%;
	    border-bottom-right-radius: 0;
	    border-top-right-radius: 0;
	    border-top-left-radius: .25rem;
	    border-bottom-left-radius: .25rem;
	    border-right: 0;
	}
	.yikes-easy-mc-submit-button{
		margin-top: 0;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    border: 2px solid rgba(51,51,51,.1);
	    padding: 10px 20px;
	    width: auto;
	}
}

.yikes-mailchimp-form-description{
	margin: 20px 0 10px 0;
}

.variations{
	tr{
		display: flex;
		flex-direction: column;
	}
	td.value{
		display: flex;
	}
}



.woocommerce-variation-price{
	.price{
		display: none;
	}
	.purchase-options{
		.subscription-price{
			display: inherit;
		}
	}
	label{
		font-weight: 700;
	}	
}

.woocommerce-variation-add-to-cart{
	display: flex;
	justify-content: flex-end;
	position: relative;
	.added_to_cart{
		position: absolute;
		bottom: -34px;
	}
	.qty{
		height: 52px;
		border-radius: 8px;
		border: 2px solid #aaa;
		padding-left: 15px;
		margin-left: 5px;
	}
	.quantity.real{
		display: none !important;
	}
}

.qty-container{
	width: 100%;
	padding: 20px 0;
	label{
		font-weight: 700;
	}
	select{
		padding: 10px 10px 10px 15px;
		margin-left: 10px;
		border-radius: 8px;
	}
}


.woocommerce span.onsale {
	display: flex;
	line-height: inherit;
	align-items: center;
	justify-content: center;
}

.xoo-wsc-sc-subt{
display: none;
}
.xoo-wsc-sc-count{
	position: absolute;
	right: -10px;
	top: -5px;
}
.xoo-wsc-img-col{
	align-self: flex-start;
}

.bb-content{
	display: block;
	clear: both;
}

.woocommerce-variation-availability{
	display: none;
}


.rounded-pill{
	.fl-node-content{
		border-radius: 10px;
		.uabb-cta-button{
			.uabb-creative-default-btn{
				background: #D4AF37;
				background: linear-gradient(to bottom, #D4AF37 0%, #C5A028 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D4AF37), color-stop(100%, #C5A028));
				background: -webkit-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
				background: -moz-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
				background: -o-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
				background: -ms-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4AF37', endColorstr='#C5A028', GradientType=0);
				border: 1px solid #B69119;
				box-shadow: inset 0 1px 0 #E3BE46;
				-webkit-box-shadow: inset 0 1px 0 #E3BE46;
				-moz-box-shadow: inset 0 1px 0 #E3BE46;
			    color: #fff;
			}
		}
	}
}




.woocommerce-cart{
	.container-fluid{
		max-width: 1100px;
	}
}

.button.cancel{
	background-color: #cc0000 !important;
	color: #fff !important;
}




.white{
	#flourish{
		.st0{
			fill: #ffffff;
		}
	}
}

.top-left-rounded{
	@media only screen and (min-width: 768px) {		
		border-top-left-radius: 8px;
		overflow: hidden;
	}
}

.bottom-left-rounded{
	@media only screen and (min-width: 768px) {
		border-bottom-left-radius: 8px;
		overflow: hidden;
	}
}

.top-right-rounded{
	@media only screen and (min-width: 768px) {
		border-top-right-radius: 8px;
		overflow: hidden;
	}
}

.bottom-right-rounded{
	@media only screen and (min-width: 768px) {
		border-bottom-right-radius: 8px;
		overflow: hidden;
	}
}

.woocommerce-cart{
	.cart{
		.quantity.real{
			display: block !important;
			span{
				display: none;
			}
		}
	}
	.wcsatt-options{
		height: 30px;
    	width: 150px;
    	border: 1px #000 solid;
    	li{
    		padding: 5px 10px;
    		z-index: 2;
    		display: none;
    		&.selectedOption{
    			float: left;
    			width: 130px;
    			display: block;
    			background: #ddd;
    			&:hover{
    				background: #09f;
    			}
    		}
    		&.selected:not(> input:checked){
    			background: #09f;
    		}
    		input:checked{
    			cursor: pointer;
    		}
    	}
    	&.open{
    		position: absolute;
    		width: 200px;
    		li{
    			display: block;
    		}
    	}
	}
}

.bg-img-none .fl-row-content-wrap{
	@media only screen and (max-width: 767px) {
		background-image: none !important;
	}
}


.video-popup{
	.uabb-trigger{
		.uabb-button-text{
			display: flex;
			align-items: center;
			&:after{
				content: '';
			    border: 0;
			    background: transparent;
			    box-sizing: border-box;
			    width: 6px;
			    height: 6px;
			    border-color: transparent transparent transparent #ffffff;
			    transition: 100ms all ease;
			    cursor: pointer;
			    border-style: solid;
			    border-width: 6px 0 6px 10px;
			    display: block;
			    margin-left: 10px;
			}
		}
		&:hover{
			.uabb-button-text{
				display: flex;
				align-items: center;
				&:after{
					border-color: transparent transparent transparent #000;	
				}
			}
		}
	}
}