// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #000;
$hennepens-green: #356e3e;


//
// Custom Fonts
//


@font-face {
    font-family: 'superiorregular';
    src: local('Open Sans'), local('Open Sans'), url('../fonts/superior-regular-webfont.woff2') format('woff2'),
         url('../fonts/superior-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: 'linearicons';
  src:  url('../fonts/linearicons.eot?mlscn1#iefix') format('embedded-opentype'), url('../fonts/linearicons.ttf') format('truetype'), url('../fonts/linearicons.woff') format('woff'), url('../fonts/linearicons.svg?#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-family-linear-icons: 'linearicons';

$font-family-libre-baskerville-regular: 'Libre Baskerville';

$font-family-superior-bold: 'superiorbold';
$font-family-superior-regular: 'superiorregular';

$font-family-sans-serif: 'proxima_novaregular';
$font-family-sans-serif-bold: 'proxima_novabold';
