[class^="icon-"], [class*=" icon-"], .xoo-wsc-icon-cart1 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-family-icons !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-pencil:before {
  content: "\e60d";
}
.icon-eye-dropper:before {
  content: "\e625";
}
.icon-drop:before {
  content: "\e635";
}
.icon-snow:before {
  content: "\e637";
}
.icon-moon:before {
  content: "\e649";
}
.icon-cog:before {
  content: "\e672";
}
.icon-trash:before {
  content: "\e681";
}
.icon-heart:before {
  content: "\e68c";
}
.icon-star:before {
  content: "\e68d";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-envelope-open:before {
  content: "\e697";
}
.icon-paperclip:before {
  content: "\e698";
}
.icon-paper-plane:before {
  content: "\e699";
}
.icon-copy:before {
  content: "\e6b8";
}
.icon-enter:before {
  content: "\e6d2";
}
.icon-user:before {
  content: "\e71e";
}
.icon-cart:before, .xoo-wsc-icon-cart1:before {
  content: "\e74d";
}
.icon-telephone:before {
  content: "\e76a";
}
.icon-map-marker:before {
  content: "\e77a";
}
.icon-chat:before {
  content: "\e7d7";
}
.icon-cross:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e934";
}
.icon-close-x:before {
  content: "\e935";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-arrow-left:before {
  content: "\e943";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-share:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa1";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
}
