[class^="icon-"], [class*=" icon-"]{
  font-family: $font-family-linear-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook-square:before{
  content: "\e900";
}
.icon-instagram:before{
  content: "\e901";
}
.icon-arrow-up:before{
  content: "\e941";
}
.icon-arrow-down:before{
  content: "\e942";
}
.icon-arrow-left:before{
  content: "\e943";
}
.icon-arrow-right:before{
  content: "\e944";
}
.icon-home:before{
  content: "\e600";
}
.icon-cog:before{
  content: "\e672";
}
.icon-trash2:before{
  content: "\e681";
}
.icon-star:before{
  content: "\e68d";
}
.icon-copy:before{
  content: "\e6b8";
}
.icon-enter:before{
  content: "\e6d2";
}
.icon-repeat:before{
  content: "\e6ee";
}
.icon-equalizer:before{
  content: "\e6f2";
}
.icon-user:before{
  content: "\e71e";
}
.icon-bag2:before{
  content: "\e74c";
}
.icon-credit-card:before{
  content: "\e759";
}
.icon-cash-dollar:before{
  content: "\e75a";
}
.icon-bag-dollar:before{
  content: "\e75e";
}
.icon-telephone:before{
  content: "\e76a";
}
.icon-telephone2:before{
  content: "\e777";
}
.icon-smartphone:before{
  content: "\e7a6";
}
.icon-graph:before{
  content: "\e7fa";
}
.icon-chart-bars:before{
  content: "\e7fc";
}
.icon-speed-fast:before{
  content: "\e836";
}
.icon-rocket:before{
  content: "\e837";
}
.icon-truck:before{
  content: "\e857";
}
.icon-download2:before{
  content: "\e8f5";
}
.icon-exit-right:before{
  content: "\e8fe";
}
.icon-magnifier:before{
  content: "\e922";
}
.icon-cross:before{
  content: "\e92a";
}
.icon-menu:before{
  content: "\e92b";
}
.icon-check:before{
  content: "\e934";
}
.icon-check-square:before{
  content: "\e999";
}
.icon-checkmark-circle:before{
  content: "\e959";
}
.icon-chevron-up:before{
  content: "\e939";
}
.icon-chevron-down:before{
  content: "\e93a";
}
.icon-chevron-left:before{
  content: "\e93b";
}
.icon-chevron-right:before{
  content: "\e93c";
}
.icon-chevron-up-circle:before{
  content: "\e962";
}
.icon-chevron-down-circle:before{
  content: "\e963";
}
.icon-chevron-left-circle:before{
  content: "\e964";
}
.icon-chevron-right-circle:before{
  content: "\e965";
}
.icon-linux:before{
  content: "\eabd";
}
.icon-apple:before{
  content: "\eabe";
}
.icon-windows:before{
  content: "\eac2";
}
.icon-plus-square:before{
  content: "\e98e";
}
.icon-envelope:before{
  content: "\e696";
}
.icon-envelope-open:before{
  content: "\e697";
}
.icon-paper-plane:before{
  content: "\e699";
}
.icon-eye:before{
  content: "\e6a5";
}
.icon-eye-crossed:before{
  content: "\e6a6";
}


