/* HOME PAGE + General Page Template CUSTOMIZATIONS */

.home,.page-template-default{
	.navbar{
		background: none;
		position: absolute;
		z-index: 999;
		width: 100%;
		.navbar-collapse{
			li{
				margin: 0 10px;
				border-bottom: 0 !important;
			}
		}
		.navbar-brand{
			#logo-svg{
			filter: invert(0) sepia(0%) saturate(0%) hue-rotate(0) brightness(100) contrast(100);

			}
			.tagline{
				color: #fff;
			}
		}
		a{
			color: #fff;
			border-bottom: 4px transparent;
			padding-left: 0 !important;
			padding-right: 0 !important;
			&:hover{
				border-bottom: 4px solid #fff;
			}
		}
	}
	.xoo-wsc-sc-bki{
		color: #fff;

	}
	.woocommerce-store-notice{
		display: none !important;
	}
	.partial-content-space{
		h2{
			@media only screen and (min-width: 768px) {
				max-width: 65%;
			}
		}
		p{
			@media only screen and (min-width: 768px) {
				max-width: 65%;
			}
		}
		&.right{
			h2{
				@media only screen and (min-width: 768px) {
					float: right;
				}
			}
			p{
				@media only screen and (min-width: 768px) {
					float: right;
				}
			}
		}
		.max-width-65{
			@media only screen and (min-width: 768px) {
				float: right;
				max-width: 65%;
			}
		}
	}
	.min-height-img-col{
		@media only screen and (max-width: 768px) {
			min-height: 300px;
		}
	}
}
.max-width-65{
	.fl-col-content.fl-node-content{
		@media only screen and (min-width: 768px) {
			max-width: 65%;
		}
	}
	.fl-col-group-group-nested{
		.fl-col-content.fl-node-content{
			@media only screen and (min-width: 768px) {
				max-width: 100% !important;
			}
		}
	}
}

.collage{
	video{
		width: 100%;
		max-width: 100%;
		display: block;
	}
}

.map-column{
	.fl-module.fl-module-map{
		@media only screen and (min-width: 768px) {
			position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 50%;
	    	z-index: -1;
    	}
	}
}

#hero-header{
	.fl-heading{
		font-family: $font-family-superior-regular !important;
		font-size: 6em;
		letter-spacing: 2px;
		margin-bottom: 50px;
	    text-align: center;
	    font-style: italic;
	    transform: rotate(-5deg);
	    @media only screen and (max-width: 767px) {
			font-size: 3.75rem;
		}
	}
	h6.fl-heading{
		font-size: 2rem;
		padding-left: 40px !important;
		@media only screen and (max-width: 767px) {
			font-size: 1.2rem;
			padding-left: 15px !important;
		}
	}
}

#home-page-hero{
	.fl-row-content-wrap{
		min-height: 80vh;
	}
	.fl-button{
  		transform: rotate(-5deg) skewX(-20deg);
	}
	.fl-button-text{
		font-family: $font-family-superior-regular !important;
		transform: skewX(20deg);
		text-transform: lowercase;
		letter-spacing: 4px;
	}
}

.path-to-wellness{
	padding: 10px;
	border: 1px solid #000;
	@media only screen and (max-width: 767px) {
		border: 0;
	}
}

.page-contact-us,.page-sell-wholesale,.page-our-mission,.page-arc-partnership,.page-about-us, .page-about{
	.wrapper{
		padding: 0;
	}
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
		&#footer-full-content{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.woocommerce-MyAccount-navigation{
	@media only screen and (max-width: 767px) {
		display: none !important;
	}
}